bin/
obj/
packages/
*.suo
*.user
*cache
_ReSharper*

*NSubstitute*

*.ncrunchproject
*.ncrunchsolution
*.sln.ide/

UpgradeLog.XML
_UpgradeReport_Files
Backup
App_Data
TestResults*

*.dbmdl
.vs/
*.jfm

connectionStrings.config
appSettings.config
_NCrunch*
